{
  "API_FOOTBALL_API_KEY": "<KEY>",
  "API_FOOTBALL_HOST": "https://v2.api-football.com",
  "API_FOOTBALL_COUNTRIES": [
    "Scotland",
    "Wales"
  ],
  "API_FOOTBALL_SEASONS": [
    2020,
    2019
  ],
  "BOT_COMMAND_PREFIX": "!",
  "BOT_TIMEZONE": "Europe/London",
  "DISCORD_TOKEN": "<TOKEN>",
  "PATH_BACKUP_API": "/path/to/backup/api",
  "PATH_DB": "sqlite:////path/to/db/predictions.db",
  "POINTS_RESULT": 2,
  "POINTS_SCORE": 5
}